<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-danger" type="button" (click)="changePercentage(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input
    type="number"
    class="form-control"
    placeholder="Porcentaje"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progressIn"
    [ngClass]="{ 'is-invalid': hasError }"
  />
  <span class="input-group-btn">
    <button class="btn btn-success" type="button" (click)="changePercentage(5)">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
