<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div
    class="login-register"
    style="
      background-image: url(../assets/images/background/login-register.jpg);
    "
  >
    <div class="login-box card">
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <h3 class="box-title m-b-20">Regístrate</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Nombre"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                placeholder="Contraseña"
                formControlName="pass1"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                placeholder="Confirmar Contraseña"
                formControlName="pass2"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col text text-danger">
              <p *ngIf="showErrorField('name')">El nombre es requerido</p>
              <p *ngIf="showErrorField('email')">El email es requerido</p>
              <p *ngIf="showErrorField('pass1') || showErrorField('pass2')">
                La contraseña es requerida
              </p>
              <p
                *ngIf="
                  form.controls['pass2'].hasError('notMatch') &&
                  !form.controls['pass2'].touched
                "
              >
                Las contraseñas no coinciden
              </p>
            </div>
          </div>
          <div class="form-group text-center p-b-20">
            <div class="col-xs-12">
              <button
                class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                type="submit"
              >
                Registrar
              </button>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              ¿Ya tienes una cuenta?
              <a routerLink="/login" class="text-info m-l-5"><b>Ingresar</b></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
